<div class="container">
  <div class="d-flex justify-content-center align-items-center vh-100 row">
    <div class="p-4 border rounded bg-light col-md-4">
      <div class="row" [formGroup]="registerForm">
        <div class="col-md-12">
          <h3 class="text-center">Registro de usuario</h3>
        </div>

        <div class="col-md-12 mt-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" placeholder="Usuario" type="text" autocomplete="off" />
            <mat-error>El usuario es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 mt-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" type="email" autocomplete="off" />
            <mat-error>El email es requerido, y debe contar con estructura de email.</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 mt-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre completo</mat-label>
            <input matInput formControlName="name" placeholder="Nombre" type="text" autocomplete="off" />
            <mat-error>El nombre es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 mt-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="Contraseña"
              [type]="hidePassword() ? 'password' : 'text'"
              autocomplete="new-password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEventPassword($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword()"
            >
              <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error
              >La contraseña requiere al menos un mayúscula, minúscula, un número y un caracter especial, longitud mínima de 8
              caracteres</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-md-12 mt-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirmar contraseña</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              placeholder="Confirmación"
              [type]="hideConfirmPassword() ? 'password' : 'text'"
              autocomplete="new-password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEventConfirmPassword($event)"
              [attr.aria-label]="'Hide password confirm'"
              [attr.aria-pressed]="hideConfirmPassword()"
            >
              <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>La contraseñas no coinciden</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-12 mt-1">
          <p class="text-start">¿Ya estás registrado? <a mat-button routerLink="/auth/login">¡Inicia sesión!</a></p>
        </div>

        <div class="col-md-6 mx-auto">
          <button class="w-100" (click)="submitForm()" type="button" color="primary" mat-flat-button>Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>
