/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.lato-thin {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}

// SnackBar

.snackbar-success {
  background-color: #43a047;
  color: #fff;
  font-weight: bold;
}

.snackbar-error {
  background-color: #e53935;
  color: #fff;
  font-weight: bold;
}

.snackbar-info {
  background-color: #1e88e5;
  color: #fff;
  font-weight: bold;
}

.snackbar-warn {
  background-color: #fbc02d;
  color: #000;
  font-weight: bold;
}

// Loader modal

.transparent-dialog .mat-dialog-container {
  background: transparent;
  box-shadow: none;
}

.dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}
